.main-container {
  height: fit-content;
  width: 100%;
  max-width: 535px;
  min-width: 535px;
  margin-top: 42px;
  text-align: center;
}

.main-content_container {
  position: relative;
  height: max-content;
  border-radius: 5px;
  box-shadow: 1px 23px 55px -22px var(--light-dark-grayish-blue);
  margin-bottom: 55px;
}

.footer {
  font-size: 14px;
  font-weight: 700;
  color: var(--light-dark-grayish-blue);
  margin-bottom: 100px;
}

@media screen and (max-width: 600px) {
  .main-container {
    min-width: calc(100vw - 40px);
    width: calc(100vw - 40px);
    padding: 45px 20px 0;
    margin-top: 0;
    font-size: 13px;
  }

  .main-content_container {
    margin-bottom: 105px;
  }

  .footer {
    margin-bottom: 80px;
  }
}
